.h{
    color: aqua;
}
.footbg{
    background: #161616!important;
    z-index: 1000;
}
.footerset{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.icon{
    margin-left: 20px;
}