$myColor: #1d1d1d;
$myFontSize: 45px;
$myFontWeight: 600;
$linehight: 95px;
$top: 18px;
$font20: 20px;
$whitecolor: #ffffff;
@mixin para {
  font-weight: 400;
  font-size: 16px;
  color: #777777;
  padding-top: 18px;
  margin-bottom: 18px;
}
@mixin headings {
  font-weight: 600;
  font-size: 24px;
  line-height: 38px;
  color: #4a4a4a;
  margin-top: $top;
}
@mixin paragra {
  padding-top: 70px;
}
@mixin price {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #289bde;
}

.container {
  .cardtop{
    display: none;
  }
  .view_all{
    display: none;
  }
  .sumb{
    justify-content: center;
  }
  .discover {
    font-size: $myFontSize;
    font-weight: $myFontWeight;
    color: #1d1d1d;
   
  }
  .para {
    @include para;
  }
  .headings {
    @include headings;
  }
  .paragra {
    @include paragra;
  }
  .price {
    @include price;
  }
  .See-More-Courses {
    display: flex;
    justify-content: center;
    .More-Courses-btn {
      font-weight: $myFontWeight;
      font-size: $font20;
      color: $whitecolor;
      margin-top: 50px;
      height: 56px;
      text-transform: unset;
    }
  
    
    
  }
  @media  (max-width: 1200px){
    .sumb{
      display: flex;
      justify-content: center;
    }
      }
      @media  (max-width: 900px){
       
        .discover{
          font-size: 30px;
        }
        .para{
          font-size: 15px;
          padding-top: 0;
        }
          }
      @media  (max-width: 600px){
        .headings{
          font-size: 16px;
        }
        .price{
          font-size: 18px;
        }
        .discover{
          font-size: 18px;
        }
        .para{
          font-size: 14px;
          padding-top: 0;
        }
        .sumb{
          display: flex;
          flex-direction: column;

        }
        .setimgsix{
          width:100%

        }
        .border{
          margin-top:-10px;
          border-top: none;
          border-top-left-radius: 0px;
          border-top-right-radius: 0px;
          padding-bottom: 25px;
        }
        .card-set1{
          display: none;
        }
        .view_all{
          display: block;
        }
        .More-Courses-btn{
          display: none;
        }
        .cardtop{
          display: block;
        }
          }
 
}
.border{
    border: 1px solid #E8E8E8;
    border-radius: 0px 5px 5px 0px;
    padding: 0 0 0 20px;
    height: 97%;
}

