.container {
  .hu {
    text-align: center;
  }

  .accordionset {
    display: flex;

    flex-direction: column;
    align-items: center;
  }
  .hum {
    max-width: 872px;
    box-shadow: none;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
  }
  .according1.Mui-expanded {
    background: rgba(40, 155, 222, 0.1);
    border: none;
  }
  .according_heading {
    font-size: 20px;
    font-weight: 600;
  }
  @media (max-width: 900px) {
    .according_heading {
      font-size: 14px;
      font-weight: 600;
    }
  }
}
