.container {
  .backgblue {
    background: #289bde;
    border-radius: 5px;
  }
  .ready {
    font-weight: 600;
    font-size: 45px;
    line-height: 60px;
    color: #ffffff;
  }
  .reg2 {
    display: none !important;
  }

  .regbtnnn {
    display: flex;
    justify-content: center;
    .regbtn {
      color: #289bde;
      background-color: #ffffff;
      text-transform: unset;
    }
    .reg2 {
      display: none;
    }
  }
  @media (max-width: 1200px) {
    .ready,
    .ready-para {
      display: flex;
      justify-content: center;
      text-align: center;
    }
    .regbtnnn {
      .regbtn {
        display: none;
      }
      .reg2 {
        display: block !important;
        color: #289bde;
        background-color: #ffffff;
        text-transform: unset;
      }
    }
  }
  @media (max-width: 600px) {
    .readttojoin {
      .ready {
        font-size: 18px;
      }
      .ready-para {
        font-size: 14px;
        text-align: center;
      }
    }
  }
}
