.viewallbtn {
  display: flex;
  justify-content: center;
}
.viewbgcolor {
  background-color: #289bde;
  text-transform: unset;
}
.setimg {
  max-width: 100%;
  height: auto;
}
@media (max-width: 600px) {
  .student_heading,
  .student_name,
  .student_d,
  .student-para {
    text-align: center;
  }
}
